<template>
    <div class="container-fluid">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="enemy" v-model="extra.enemy">
            <label class="custom-control-label" for="enemy">Противник</label>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['extra'],
    }
</script>
