<template>
    <div
            class="icon-wrapper"
            ref="wrapper"
            :style="wrapper_style"
            :class="{enemy: extra.enemy, active}"
            @click.stop>

        <div class="map-icon" :style="icon_style" @click="click">
            <div class="top-dot" v-if="active"><i class="fa fa-arrow-up text-secondary"></i></div>
        </div>

        <portal to="map-menu-settings" :disabled="!active">
            <div v-if="active">
                <icon-element :icon="icon" :active="true"/>
                <enemy-setting :extra.sync="extra" v-if="!icon_extra.disableEnemy"/>
                <position-edit-form v-bind="$props" :useRotate="!icon_extra.disableRotate"/>
                <delete-setting @delete="deleteIcon"/>
            </div>
        </portal>
    </div>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator'
    import PositionEditForm from '../menu/PositionEditForm'
    import EnemySetting from './settings/EnemySetting'
    import DeleteSetting from './settings/DeleteSetting'
    import IconElement from '../menu/IconElement'

    const base_size = 100

    @Component({
        components: {IconElement, PositionEditForm, EnemySetting, DeleteSetting},
        props: {
            icon: Object,
            map: Object,
            position: Object,
            extra: {
                type: Object,
                default: () => ({}),
            },
            focusedIcon: [Object, null],
            selectedIcon: [Object, null],
        },
    })
    export default class MapIcon extends Vue {

        get icon_extra() {
            return this.icon.extra || {}
        }

        get ratio() {
            return this.map.ratio
        }

        get icon_height() {
            return this.icon_extra.icon_height || base_size
        }

        get icon_width() {
            return this.icon_extra.icon_width || base_size
        }

        get active() {
            return this.focusedIcon === this
        }

        get wrapper_style() {
            const h = this.ratio.height(this.icon_height)
            const w = this.ratio.width(this.icon_width)
            const offset = {h: h / 2, w: w / 2}
            const top = this.ratio.top(this.position.top) - offset.h
            const left = this.ratio.left(this.position.left) - offset.w

            return {
                position: 'absolute',
                top: top + 'px',
                left: left + 'px',
                pointerEvents: this.selectedIcon ? 'none' : 'all',
            }
        }

        get icon_style() {
            const h = this.ratio.height(this.icon_height)
            const w = this.ratio.width(this.icon_width)

            return {
                width: w + 'px',
                height: h + 'px',
                backgroundImage: `url(${this.icon.icon})`,
                transform: `rotate(${this.position.rotate}deg)`,
            }
        }

        deleteIcon() {
            const data = {
                uuid: this.icon.uuid,
                position: this.position,
                extra: this.extra,
            }

            this.$emit('delete', data)
        }

        click() {
            this.$emit('click', this)
        }
    }
</script>

<style lang="scss" scoped>

    .icon-wrapper {
        .map-icon {
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;

            .top-dot {
                position: relative;
                top: -20px;
                width: 100%;
                text-align: center;
                pointer-events: none;
            }

        }

        &.enemy {
            .map-icon {
                filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg) brightness(.8);
            }
        }

        .icon-menu {
            position: absolute;
            top: 100%;
            cursor: default;
            z-index: 999;
        }
    }
</style>
