<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="<%= BASE_URL %>favicon.ico">
        <title>rts-mil-traning-map</title>
    </head>
    <body>
        <noscript>
            <b>
                We're sorry but rts-mil-traning-map doesn't work properly without JavaScript enabled.
                Please enable it to continue.
            </b>
        </noscript>
        <div id="app"></div>
    </body>
</html>
