<template>

    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="card">

                <div class="card-header">Главное меню</div>

                <div class="card-body">
                    <div class="row no-gutters justify-content-around">
                        <router-link class="btn btn-primary" :to="{name: 'map'}">Карта</router-link>
                    </div>
                </div>

            </div>
        </div>
    </div>

</template>
