<template>
    <div class="map-page d-flex">
        <Map
                ref="map"
                :selectedIcon="selected_icon"
                :selectedEntity="selected_entity"
                @click="mapClick">

            <component
                    v-for="entity in enties"
                    :is="entity.name"
                    :map="$refs.map"
                    :data.sync="entity.data"
                    :focusedEntity="focused_entity"
                    :selectedEntity="selected_entity"
                    :key="entity.data.uuid"
                    @deleteEntity="deleteEntity"
                    @click="entityClick"/>

            <map-icon
                    v-for="(icon, i) in icons"
                    :map="$refs.map"
                    :icon="findIcon(icon.uuid)"
                    :position="icon.position"
                    :selectedIcon="selected_icon"
                    :focusedIcon="focused_icon"
                    :extra="icon.extra"
                    :key="icon.uuid + i"
                    @delete="deleteIcon"
                    @click="iconClick"/>

            <map-main-menu
                    ref="menu"
                    :map="$refs.map"
                    :activeIcon="selected_icon"
                    @selectIcon="i => selected_icon = i"
                    @dropIcon="selected_icon = null"
                    @selectEntity="e => selected_entity = e"
                    @dropEntity="selected_entity = null"
                    @save="save"
                    @load="load"/>

        </Map>
    </div>
</template>

<script>
    import Vue from 'vue'
    import Component from 'vue-class-component'
    import FileSaver from 'file-saver'
    import Map from '../../components/map/Map'
    import MapMainMenu from '../../components/map/menu/MapMainMenu'
    import MapIcon from '../../components/map/icons/MapIcon'
    import IconFactory from '../../components/map/icons/IconFactory'
    import CompositeLineEntity from '../../components/map/entity/registry/CompositeLine/CompositeLineEntity'
    import '../../components/map/entity/EntityFactory'
    import cloneDeep from 'lodash/cloneDeep'
    import {deserialize} from '../../components/desializer'

    @Component({
        components: {CompositeLineEntity, MapIcon, Map, MapMainMenu},
    })
    export default class MapPage extends Vue {
        selected_icon = null
        focused_icon = null
        selected_entity = null
        focused_entity = null
        icons = []
        enties = []

        mapClick(position) {
            const selected_icon = this.selected_icon
            const selected_entity = this.selected_entity

            if (!selected_icon || !selected_entity) {
                this.resetFocus()
            }

            if (selected_icon) this.icons = [
                ...this.icons,
                {uuid: selected_icon.uuid, position, extra: {}},
            ]

            if (selected_entity) {
                const position2 = position.clone()
                const path = [position, position2]

                position2.lat += 15
                const data = {path, position}

                data.extra = cloneDeep(selected_entity.extra || {})

                this.enties = [
                    ...this.enties,
                    {name: selected_entity.name, data},
                ]
            }

            this.selected_icon = null
            this.selected_entity = null
        }

        iconClick(icon) {
            this.$refs.menu.tab = 'settings'
            this.focused_entity = null
            this.focused_icon = icon
        }

        entityClick(e) {
            this.$refs.menu.tab = 'settings'
            this.focused_icon = null
            this.focused_entity = e
        }

        findIcon(uuid) {
            return IconFactory.getIconByUuid(uuid)
        }

        resetFocus() {
            if (this.focused_icon || this.focused_entity)
                this.$refs.menu.tab = 'elements'
            this.focused_icon = null
            this.focused_entity = null
        }

        deleteIcon({uuid, position}) {
            this.icons = this.icons.filter(i => i.uuid !== uuid || i.position !== position)
            this.resetFocus()
        }

        deleteEntity(data) {
            this.enties = this.enties.filter(e => e.data !== data)
        }

        save() {
            const data = JSON.stringify({
                version: '1',
                icons: this.icons,
                enties: this.enties,
                map: 'default',
            })
            const blob = new Blob([data], {type: 'text/plain;charset=utf-8'})
            FileSaver.saveAs(blob, `Сохранённая карта ${(new Date).toLocaleString()}.json`)
        }

        load(text) {
            const json = JSON.parse(text)
            const {icons, enties} = deserialize(json)
             this.enties = enties
            this.icons = icons
        }

        mounted() {
            this.$forceUpdate()
        }
    }
</script>

<style scoped>
    .map-page {
        height: 100vh;
        overflow: hidden;
    }
</style>
