<template>
    <svg class="svg-wrapper" :style="style" v-if="map" @click.stop="$emit('click')" data-no-drag>
        <slot/>
    </svg>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator'
    import {map_size} from '../../../util'

    @Component({
        props: {
            map: Object,
        },
    })
    export default class SvgWrapper extends Vue {
        get style() {
            return {
                top: this.map.ratio.top() + 'px',
                left: this.map.ratio.left() + 'px',
                width: this.map.ratio.width(map_size.w) + 'px',
                height: this.map.ratio.height(map_size.h) + 'px',
            }
        }
    }
</script>

<style lang="scss" scoped>
    svg.svg-wrapper {
        position: absolute;
        pointer-events: none;

        > * {
            pointer-events: auto;
        }
    }
</style>
