<template>
    <svg-wrapper :map="map">
        <g v-bind="groupStyle" @click.stop="click">
            <rect v-bind="rectStyle"/>
            <circle v-for="(_, i) in rounds_count" v-bind="circleStyle(i)" :key="i"/>
        </g>
        <portal to="map-menu-settings" :disabled="!focused">
            <div v-if="focused">
                <mine-field-settings :data.sync="data" @deleteEntity="e => $emit('deleteEntity', e)"/>
            </div>
        </portal>
    </svg-wrapper>
</template>


<script>
    import {Component, Vue} from 'vue-property-decorator'
    import SvgWrapper from '../../SvgWrapper'
    import MineFieldSettings from './MineFieldSettings'
    import uuid from 'uuid'

    export const name = 'MineFieldEntity'
    export const display = 'Минные поля'
    export const extra = {mines: 5, fill: 'black', type: 0}

    const round_size = 10
    const round_margin = round_size

    @Component({
        name,
        components: {SvgWrapper, MineFieldSettings},
        props: {
            data: Object,
            map: Object,
            focusedEntity: [Object, null],
            selectedEntity: [Object, null],
        },
    })
    export default class MineFieldEntity extends Vue {

        get ratio() {
            return this.map.ratio
        }

        get color() {
            return this.data.extra.fill
        }

        get rounds_count() {
            return Math.max(2, parseInt(this.data.extra.mines))
        }

        get focused() {
            return this.focusedEntity && this.focusedEntity.uuid === this.uuid
        }

        get groupStyle() {
            const width = (round_margin + (round_margin + round_size) * this.rounds_count) * this.ratio.zoom
            const height = (round_margin * 2 + round_size) * this.ratio.zoom
            const width2 = width / 2
            const height2 = height / 2

            const pos = this.data.position
            const left = this.ratio.left(pos.left - width2, false)
            const top = this.ratio.top(pos.top - height2, false)
            const angle = pos.rotate

            return {
                width, height,
                transform: `translate(${left}, ${top}) rotate(${angle}, ${width2}, ${height2})`,
            }
        }

        circleStyle(i) {
            const zoom = this.ratio.zoom
            const {height} = this.groupStyle
            const type = this.data.extra.type
            const isEmpty = type > 1 ? i % 2 : type

            return {
                cx: (round_margin + (round_margin + round_size) * i + round_size / 2) * zoom,
                cy: height / 2,
                r: round_size / 2 * zoom,
                fill: isEmpty ? 'none' : this.color,
                stroke: isEmpty ? this.color : 'none',
                'stroke-width': (3 * this.ratio.zoom) + 'px',
            }
        }

        get rectStyle() {
            const {width, height} = this.groupStyle
            return {
                x: 0,
                y: 0,
                width,
                height,
                fill: 'none',
                stroke: this.color,
                'stroke-width': (3 * this.ratio.zoom) + 'px',
            }
        }

        click() {
            this.$emit('click', {uuid: this.uuid, name: this.$options.name})
        }

        mounted() {
            if (!this.uuid)
                this.uuid = uuid.v4()
        }
    }
</script>
