<template>
    <div class="container-fluid">
        <div class="py-2">
            <div>Цвет:</div>
            <div class="btn-group btn-group-toggle btn-group-vertical">
                <label
                        class="btn btn-secondary"
                        v-for="color in colors"
                        :class="extra.fill === color.value ? 'active' : ''">
                    <input
                            type="radio"
                            name="colors"
                            :checked="extra.fill === color.value"
                            @click="extra.fill = color.value"
                    > {{color.name}}
                </label>
            </div>
        </div>
        <div class="py-2">
            <div>Тип поля:</div>
            <div class="btn-group btn-group-vertical btn-group-toggle">
                <label
                        class="btn btn-secondary"
                        v-for="type in types"
                        :class="extra.type === type.value ? 'active' : ''">
                    <input
                            type="radio"
                            name="colors"
                            :checked="extra.type === type.value"
                            @click="extra.type = type.value"
                    > {{type.name}}
                </label>
            </div>
        </div>
        <div class="py-2">
            <div class="py-2">
                <div>Длина:</div>
                <div>
                    <input type="number" v-model="data.extra.mines" class="form-control">
                </div>
            </div>
            <position-edit-form :position.sync="this.data.position" :use-rotate="true"/>
            <button class="btn btn-block btn-outline-danger" @click="$emit('deleteEntity', data)">Удалить</button>
        </div>
    </div>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator'
    import PositionEditForm from '../../../menu/PositionEditForm'

    const colors = [
        {name: 'Красный', value: 'red'},
        {name: 'Синий', value: 'blue'},
        {name: 'Чёрный', value: 'black'},
        {name: 'Зелёный', value: 'green'},
    ]

    const types = [
        {name: 'Против пехоты', value: 0},
        {name: 'Против танков', value: 1},
        {name: 'Смешанное', value: 2},
    ]

    @Component({
        components: {PositionEditForm},
        props: ['data'],
    })
    export default class CompositeLineSettings extends Vue {

        get extra() {
            return this.data.extra
        }

        get colors() {
            return colors
        }

        get types() {
            return types
        }
    }
</script>
