<template>
    <div class="container-fluid">
        <div class="py-2">
            <div>Цвет:</div>
            <div class="btn-group btn-group-toggle btn-group-vertical">
                <label
                        class="btn btn-secondary"
                        v-for="color in colors"
                        :class="extra.fill === color.value ? 'active' : ''">
                    <input
                            type="radio"
                            name="colors"
                            :checked="extra.fill === color.value"
                            @click="extra.fill = color.value"
                    > {{color.name}}
                </label>
            </div>
        </div>
        <div class="py-2">
            <label>
                <input type="checkbox" v-model="data.extra.closed">
                Замкнутая линия
            </label>
        </div>
        <div class="py-2">
            <label>
                <input type="checkbox" v-model="marks.exists">
                Ворсинки
            </label>
            <label v-if="marks.exists">
                <input type="checkbox" v-model="marks.reverse">
                Ворсинки в обратную сторону
            </label>
        </div>
        <div class="py-2">
            <label>
                <input type="checkbox" v-model="data.extra.curve">
                Сглаженная линия
            </label>
        </div>
        <div class="py-2">
            <label>
                <input type="checkbox" v-model="data.extra.dashes">
                Отрывистая линия
            </label>
        </div>
        <div class="py-2">
            <div>Ширина линии:</div>
            <div>
                <input type="number" v-model="data.extra.width" class="form-control">
            </div>
        </div>
        <div class="py-2">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <span class="font-weight-bold">Опорные точки</span>
                <button class="btn btn-sm btn-outline-info" @click="addPoint">+</button>
            </div>
            <ul class="list-group">
                <li
                        class="list-group-item"
                        v-for="(p, i) in path"
                        :key="i"
                >
                    <div>
                        Широта: {{displayPosition(p.lat)}}
                    </div>
                    <div>
                        Долгота: {{displayPosition(p.lng)}}
                    </div>
                    <div>
                        <button class="btn btn-sm btn-warning" @click="deletePoint(p)">X</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="py-2">
            <button class="btn btn-block btn-outline-danger" @click="$emit('deleteEntity', data)">Удалить</button>
        </div>
    </div>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator'
    import last from 'lodash/last'
    import {itl} from '../../../../../util'

    const colors = [
        {name: 'Красный', value: 'red'},
        {name: 'Синий', value: 'blue'},
        {name: 'Чёрный', value: 'black'},
        {name: 'Зелёный', value: 'green'},
    ]

    @Component({
        props: ['data'],
    })
    export default class CompositeLineSettings extends Vue {
        get d() {
            return JSON.stringify(this.data)
        }

        get path() {
            return this.data.path
        }

        get extra() {
            return this.data.extra
        }

        get colors() {
            return colors
        }

        get marks() {
            const extra = this.data.extra
            return {
                get exists() {
                    return extra.marks !== 0
                },
                set exists(v) {
                    extra.marks = v ? 1 : 0
                },
                get reverse() {
                    return extra.marks === 2
                },
                set reverse(v) {
                    extra.marks = v ? 2 : 1
                },
            }
        }

        displayPosition(p) {
            const {deg, min, sec} = itl(p)
            const r = Math.round
            return `${r(deg)}° ${r(min)}" ${r(sec)}'`
        }

        deletePoint(point) {
            this.data.path = this.data.path.filter(p => p !== point)
        }

        addPoint() {
            const prev = last(this.path)
            const point = prev.clone()
            point.lat += 5
            this.data.path = [
                ...this.data.path,
                point,
            ]
        }
    }
</script>

<style lang="scss" scoped>

</style>
