<template>
    <svg-wrapper :map="map">
        <g id="marks">
            <path
                    v-for="(mark, i) in marks"
                    fill="none"
                    :stroke="data.extra.fill || 'red'"
                    :stroke-width="lineWidth"
                    :d="mark"
                    :key="i"
            ></path>
        </g>
        <path
                fill="none"
                :stroke="data.extra.fill || 'red'"
                stroke-linecap="round"
                v-if="map"
                :stroke-width="lineWidth"
                :stroke-dasharray="dashArray"
                :d="d"
                ref="path"
                @click.stop="click"
        ></path>
        <g class="circles" v-if="focused">
            <circle
                    class="drag-elements"
                    fill="rgba(33, 33, 33, 0.7)"
                    v-for="(p, i) in path"
                    v-drag="e => dragPoint(i, e)"
                    :r="`${ratio.zoom * 20}px`"
                    :cx="p.x"
                    :cy="p.y"
                    :key="i"
            ></circle>
        </g>
        <portal to="map-menu-settings" :disabled="!focused">
            <div v-if="focused">
                <composite-line-settings :data.sync="data" @deleteEntity="e => $emit('deleteEntity', e)"/>
            </div>
        </portal>
    </svg-wrapper>
</template>

<script>
    import {Vue, Component, Watch} from 'vue-property-decorator'
    import {line, curveBasis, curveBasisClosed, curveLinear, curveLinearClosed} from 'd3'
    import SvgWrapper from '../../SvgWrapper'
    import Position from '../../../Position'
    import CompositeLineSettings from './CompositeLineSettings'
    import uuid from 'uuid'

    export const name = 'CompositeLineEntity'
    export const display = 'Сплайн'
    export const extra = {width: 5, dashes: true, closed: false, fill: 'red', curve: true, marks: 0}

    @Component({
        name,
        components: {SvgWrapper, CompositeLineSettings},
        props: {
            data: Object,
            map: Object,
            focusedEntity: [Object, null],
            selectedEntity: [Object, null],
        },
    })
    export default class CompositeLineEntity extends Vue {
        uuid = null
        marks = []

        get ratio() {
            return this.map.ratio
        }

        get path() {
            if (!this.data.path)
                this.data.path = this.data.position ? [this.data.position] : []
            return this.data.path
                .map(d => ({x: this.ratio.left(d.left, false), y: this.ratio.top(d.top, false)}))
        }

        get d() {
            const path = this.path
            const closed = this.data.extra.closed
            const curve = this.data.extra.curve

            const l = line().y(d => d.y).x(d => d.x)
                .curve(
                    curve ?
                        (closed ? curveBasisClosed : curveBasis) :
                        (closed ? curveLinearClosed : curveLinear),
                )
            return l(path)
        }

        get focused() {
            return this.focusedEntity && this.focusedEntity.uuid === this.uuid
        }

        get dashArray() {
            if (this.data.extra.dashes)
                return `${this.ratio.zoom * 15} ${this.ratio.zoom * 15}`
            else return ``
        }

        get lineWidth() {
            const w = parseInt(this.data.extra.width || 5)
            return `${this.ratio.zoom * w}px`
        }

        @Watch('ratio', {deep: true})
        @Watch('data', {deep: true, immediate: true})
        updateMarks() {
            this.$nextTick(() => {
                const marks_code = this.data.extra.marks || 0
                const marks = marks_code > 0
                const reverse = marks_code === 2

                if (!marks) {
                    this.marks = []
                    return
                }

                const gutter = 20 * this.ratio.zoom
                const size = 20 * this.ratio.zoom

                const path = this.$refs.path
                const len = path.getTotalLength()
                const count = Math.floor((len) / gutter)

                this.marks = Array(count).fill(0).map((_, i) => {
                    const d = i * gutter
                    const p1 = path.getPointAtLength(d)
                    const p2 = path.getPointAtLength(d + len / 1000)
                    const a = Math.atan2(p1.y - p2.y, p1.x - p2.x) + Math.PI / 2
                    return `M${p1.x},${p1.y}L${p1.x + Math.cos(a) * size * (reverse ? -1 : 1)},${p1.y + Math.sin(a) * size * (reverse ? -1 : 1)}`
                })
            })
        }

        click() {
            this.$emit('click', {uuid: this.uuid, name: this.$options.name})
        }

        dragPoint(i, {layerY, layerX}) {
            this.$nextTick(() => {
                const realX = layerX / this.ratio.zoom
                const realY = layerY / this.ratio.zoom

                const pos = Position.fromCoords(realX, realY)
                this.$set(this.data.path, i, pos)
            })
        }

        mounted() {
            if (!this.uuid)
                this.uuid = uuid.v4()
        }
    }
</script>

<style lang="scss" scoped>
    svg {
        position: absolute;
        top: 50px;
        left: 350px;
        pointer-events: none;

        .drag-elements {
            cursor: move;

            &:hover {
                r: 50px;
            }
        }
    }
</style>
