<template>
    <div class="element-menu">

        <entity-menu
                :activeEntity="activeEntity"
                @selectEntity="e => $emit('selectEntity', e)"
                @dropEntity="$emit('dropEntity')"/>

        <div class="element-group border-bottom mb-3 mb-2" v-for="group in registry" :key="group.uuid">
            <div class="name text-center font-weight-bold">{{group.display}}</div>
            <icon-element
                    v-for="icon in group.icons"
                    :icon="icon"
                    :readonly="false"
                    :active="isActive(icon)"
                    :key="icon.uuid"
                    @click="selectIcon(icon)"/>
        </div>
    </div>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator'
    import IconFactory from '../icons/IconFactory.js'
    import IconElement from './IconElement'
    import EntityMenu from './EntityMenu'

    @Component({
        components: {EntityMenu, IconElement},
        props: {
            map: Object,
            activeIcon: [Object, null],
            activeEntity: [Object, null],
        },
    })
    export default class ElementsMenu extends Vue {

        get registry() {
            return IconFactory.registry
        }

        isActive(icon) {
            const activeIcon = this.activeIcon

            if (!activeIcon || !icon) return false
            return activeIcon.uuid === icon.uuid
        }

        selectIcon(icon) {
            const active = this.isActive(icon)
            if (active)
                this.$emit('dropIcon', icon)
            else
                this.$emit('selectIcon', icon)
        }
    }
</script>

<style lang="scss" scoped>
    .element-menu {
        max-width: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .element-group {
            .name {
            }
        }
    }
</style>
