<template>
    <div
            class="icon-element row no-gutters mb-1 align-items-center"
            :class="{active, clickable}"
            @click="$emit('click')">
        <div class="col display pl-4">{{entity.display}}</div>
    </div>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator'

    @Component({
        props: {
            entity: {},
            readonly: {
                type: Boolean,
                default: true,
            },
            active: {
                type: Boolean,
                default: false,
            },
        },
    })
    export default class EntityElement extends Vue {

        get clickable() {
            return !this.readonly
        }
    }
</script>

<style lang="scss" scoped>

    .icon-element {
        padding: 5px 0;

        &.clickable {
            cursor: pointer;

            &.active,
            &:hover {
                background: #dedede;
            }
        }
    }

</style>
