<template>
    <div class="element-group border-bottom mb-3 mb-2">
        <div class="name text-center font-weight-bold">Векторная графика</div>
        <entity-element
                v-for="entity in registry"
                :entity="entity"
                :readonly="false"
                :key="entity.name"
                @click="selectEntity(entity)"/>
    </div>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator'
    import EntityFactory from '../entity/EntityFactory.js'
    import EntityElement from './EntityElement'

    @Component({
        components: {EntityElement},
        props: {
            activeEntity: {},
        },
    })
    export default class ElementsMenu extends Vue {

        get registry() {
            return EntityFactory.registry
        }

        isActive(entity) {
            const activeEntity = this.activeEntity

            if (!activeEntity || !entity) return false
            return activeEntity.name === entity.name
        }

        selectEntity(entity) {
            entity=Object.assign({},entity)
            const active = this.isActive(entity)
            if (active)
                this.$emit('dropEntity', entity)
            else
                this.$emit('selectEntity', entity)
        }
    }
</script>

<style lang="scss" scoped>
    .element-menu {
        max-width: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .element-group {
            .name {
            }
        }
    }
</style>
