<template>
    <div
            class="icon-element row no-gutters mb-1 align-items-center"
            :class="{active, clickable}"
            @click="$emit('click')">
        <div class="icon" :style="`background-image: url(${icon.icon})`"></div>
        <div class="col display">{{icon.display}}</div>
        <div class="info p-2" v-if="hasExtra(icon, 'info') && !readonly">
            <i class="fa fa-info-circle"></i>
        </div>
    </div>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator'
    import get from 'lodash/get'

    @Component({
        props: {
            icon: Object,
            readonly: {
                type: Boolean,
                default: true,
            },
            active: {
                type: Boolean,
                default: false,
            },
        },
    })
    export default class IconElement extends Vue {

        get clickable() {
            return !this.readonly
        }

        hasExtra(icon, extra = null) {
            if (!icon.extra) return false
            if (!extra) return true
            return !!get(icon.extra, extra)
        }
    }
</script>

<style lang="scss" scoped>

    .icon-element {
        padding: 5px 0;

        .icon {
            height: 50px;
            width: 50px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .info {
            opacity: .8;

            &:hover {
                opacity: 1;
            }
        }

        &.clickable {
            cursor: pointer;

            &.active,
            &:hover {
                background: #dedede;
            }
        }
    }

</style>
