<template v-if="this.map">
    <div class="map-main-menu-wrapper" @mousemove.stop @wheel.stop @click.stop>
        <div class="map-main-menu rounded border row flex-column no-gutters">
            <div class="col-auto row no-gutters">
                <div
                        class="col d-flex align-items-center justify-content-center menu-element"
                        :class="{active: tab === 'menu'}"
                        @click="tab = 'menu'">
                    <i class="fa fa-bars"></i>
                </div>
                <div
                        class="col d-flex align-items-center justify-content-center menu-element"
                        :class="{active: tab === 'elements'}"
                        @click="tab = 'elements'">
                    <i class="fa fa-th"></i>
                </div>
                <div
                        class="col d-flex align-items-center justify-content-center menu-element"
                        :class="{active: tab === 'settings'}"
                        @click="tab = 'settings'">
                    <i class="fa fa-cog"></i>
                </div>
            </div>

            <div
                    class="col menu-page mt-3"
                    v-if="tab === 'menu'">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" @click.prevent="$emit('save')" href="#">Сохранить работу</a>
                        <a class="nav-link" @click.prevent="$refs.loadMapFile.click()" href="#">Загрузить работу</a>
                        <input type="file" class="d-none" ref="loadMapFile" @change="loadMap">
                    </li>
                </ul>
            </div>

            <elements-menu
                    class="col menu-page"
                    v-if="tab === 'elements'"
                    :map="map"
                    :activeIcon="activeIcon"
                    @selectIcon="i => $emit('selectIcon', i)"
                    @dropIcon="i => $emit('dropIcon', i)"
                    @selectEntity="e => $emit('selectEntity', e)"
                    @dropEntity="$emit('dropEntity')"/>

            <portal-target name="map-menu-settings" v-if="tab === 'settings'" class="col menu-page pt-1">
                <div class="h-100 d-flex justify-content-center align-items-center">
                    <span>Выберете элемент</span>
                </div>
            </portal-target>
        </div>
    </div>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator'
    import ElementsMenu from './ElementsMenu'

    @Component({
        components: {ElementsMenu},
        props: {
            map: {},
            activeIcon: [Object, null],
        },
    })
    export default class MapMainMenu extends Vue {
        tab = 'elements'

        loadMap(e) {
            const target = e.target
            const file = target.files[0]

            target.value = null

            if (!file) return

            const reader = new FileReader()

            reader.onload = e => this.$emit('load', e.target.result)

            reader.readAsText(file, 'UTF-8')
        }
    }
</script>

<style lang="scss" scoped>
    .map-main-menu-wrapper {
        height: 100%;
        width: 300px;
        padding: 10px;

        .map-main-menu {
            position: relative;
            height: 100%;
            width: 100%;
            background: #eee;

            .menu-element {
                height: 50px;
                background: #fff;

                text-align: center;
                font-size: 130%;
                cursor: pointer;

                &.active {
                    background: #eee;
                }
            }

            .menu-page {
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
    }
</style>
