<template>
    <div class="container-fluid">

        <div class="row flex-column my-2">
            <div class="col-auto font-weight-bold">Широта <span class="text-muted">(lat)</span>:</div>

            <div class="col-auto">
                <table>
                    <tr>
                        <td>градусов</td>
                        <td>
                            <input type="number" id="lat-deg" class="form-control form-control-sm" v-model="lat.deg">
                        </td>
                    </tr>
                    <tr>
                        <td>минут</td>
                        <td>
                            <input type="number" id="lat-min" class="form-control form-control-sm" v-model="lat.min">
                        </td>
                    </tr>
                    <tr>
                        <td>секунд</td>
                        <td>
                            <input type="number" id="lat-sec" class="form-control form-control-sm" v-model="lat.sec">
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row flex-column my-2">
            <div class="col-auto font-weight-bold">Долгота <span class="text-muted">(lng)</span>:</div>

            <div class="col-auto">
                <table>
                    <tr>
                        <td>градусов</td>
                        <td>
                            <input type="number" id="lng-deg" class="form-control form-control-sm" v-model="lng.deg">
                        </td>
                    </tr>
                    <tr>
                        <td>минут</td>
                        <td>
                            <input type="number" id="lng-min" class="form-control form-control-sm" v-model="lng.min">
                        </td>
                    </tr>
                    <tr>
                        <td>секунд</td>
                        <td>
                            <input type="number" id="lng-sec" class="form-control form-control-sm" v-model="lng.sec">
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row flex-column my-2" v-if="useRotate">
            <div class="col-auto font-weight-bold">Поворот:</div>

            <div class="col-auto">
                <input type="number" min="0" max="360" class="form-control form-control-sm" v-model="rotate.rotate">
            </div>
        </div>


        <div class="row my-2">
            <div class="col-12">
                <table>
                    <tr>
                        <td><b>X:</b></td>
                        <td>{{position.X | round}}</td>
                    </tr>
                    <tr>
                        <td><b>Y:</b></td>
                        <td>{{position.Y | round}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator'
    import {itl, lti} from '../../../util'

    @Component({
        props: {
            position: Object,
            useRotate: {
                type: Boolean,
                default: false,
            },
        },
    })
    export default class PositionEditForm extends Vue {

        get lat() {
            const position = this.position
            const parsed = itl(position.lat)

            return {
                get deg() {
                    return parsed.deg
                },
                get min() {
                    return parsed.min
                },
                get sec() {
                    return Math.round(parsed.sec)
                },
                set deg(deg) {
                    position.lat = lti(+deg, this.min, this.sec)
                },
                set min(min) {
                    position.lat = lti(this.deg, +min, this.sec)
                },
                set sec(sec) {
                    position.lat = lti(this.deg, this.min, +sec)
                },
            }
        }

        get lng() {
            const position = this.position
            const parsed = itl(position.lng)

            return {
                get deg() {
                    return parsed.deg
                },
                get min() {
                    return parsed.min
                },
                get sec() {
                    return Math.round(parsed.sec)
                },
                set deg(deg) {
                    position.lng = lti(+deg, this.min, this.sec)
                },
                set min(min) {
                    position.lng = lti(this.deg, +min, this.sec)
                },
                set sec(sec) {
                    position.lng = lti(this.deg, this.min, +sec)
                },
            }
        }

        get rotate() {
            const position = this.position
            return {
                get rotate() {
                    return position.rotate
                },
                set rotate(rotate) {
                    position.setRotate(rotate)
                },
            }
        }

    }
</script>
