<template>
    <div id="app">
        <router-view/>
    </div>
</template>

<style lang="scss">
    @import "~bootstrap/scss/bootstrap";
    @import "~font-awesome/css/font-awesome.css";

    .vh-100 {
        min-height: 100vh;
    }
</style>
