<template>
    <div class="map-wrapper" ref="wrapper" @wheel.prevent="zoom" @click.exact="click">
        <map-tile :ratio="ratio" :cursor="cursor"/>
        <map-cursor :ratio="ratio" :cursor="cursor" :selectedIcon="selectedIcon" v-if="cursor.show"/>
        <slot/>
        <div class="text-zoom">
            Увеличение: {{ratio.zoom * 100 | round}}%
        </div>
    </div>
</template>

<script>
    import {Component, Vue} from 'vue-property-decorator'
    import get from 'lodash/get'
    import MapTile from './MapTile'
    import Ratio from './Ratio'
    import DragHelper from '../DragHelper'
    import Cursor from './Cursor'
    import MapCursor from './MapCursor'

    @Component({
        components: {MapCursor, MapTile},
        props: {
            selectedIcon: [Object, null],
            selectedEntity: [Object, null],
        },
    })
    export default class Map extends Vue {

        ratio = new Ratio()
        cursor = new Cursor(this.ratio)
        dragHelper

        get position() {
            return this.cursor.position
        }

        zoom(event) {
            const orientation = event.deltaY > 0 ? 1 : -1
            const zoom = orientation * this.ratio.zoom * -0.1

            this.ratio.applyZoom(zoom)
        }

        drag(event) {
            if (event.path.some(n => !get(n, 'dataset.noDrag', 1))) return
            this.ratio.applayDrag(event.movementX, event.movementY)
        }

        click() {
            this.$emit('click', this.position)
        }

        mounted() {
            this.$nextTick(() => {
                this.dragHelper = new DragHelper(this.$el)
                this.dragHelper.onDrag(this.drag)
                this.dragHelper.listen()
            })
        }

        destroyed() {
            this.dragHelper.remove()
        }
    }
</script>

<style lang="scss" scoped>
    .map-wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;

        .text-zoom {
            position: absolute;
            bottom: 10px;
            right: 10px;

            font-weight: bold;
        }
    }
</style>
