<template>
    <div class="cursor" :style="style">
        <div class="hl"></div>
        <div class="wl"></div>
        <div class="caption">
            <div class="lng">
                {{lng.deg}}°<br>{{lng.min}}"<br>{{lng.sec | round}}'<br>в.д.
            </div>
            <div class="lat">
                {{lat.deg}}° {{lat.min}}" {{lat.sec | round}}' с.ш.
            </div>
            <div class="X">
                X: {{position.X | round}}
            </div>
            <div class="Y">
                Y: {{position.Y | round}}
            </div>
        </div>
        <div class="selected-element" v-if="selectedIcon" :style="`background-image: url(${selectedIcon.icon})`"></div>
    </div>
</template>

<script>
    import {Component, Vue} from 'vue-property-decorator'
    import Cursor from './Cursor'
    import Ratio from './Ratio'
    import {itl} from '../../util'

    const cursor_size = 500

    @Component({
        props: {
            cursor: {
                type: Cursor,
            },
            ratio: {
                type: Ratio,
            },
            selectedIcon: [Object, null],
        },
    })
    export default class MapCursor extends Vue {

        get position() {
            return this.cursor.position
        }

        get lng() {
            return itl(this.position.lng)
        }

        get lat() {
            return itl(this.position.lat)
        }

        get style() {
            return {
                top: (this.cursor.top - cursor_size / 2) + 'px',
                left: (this.cursor.left - cursor_size / 2) + 'px',
                height: cursor_size + 'px',
                width: cursor_size + 'px',
            }
        }
    }
</script>

<style lang="scss" scoped>

    .cursor {
        position: absolute;
        pointer-events: none;

        .wl,
        .hl {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            background: #ad1d22;
        }

        .hl {
            left: 0;
            height: 3px;
        }

        .wl {
            top: 0;
            width: 3px;
        }

        .caption {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 50%;

            text-align: right;
            color: #1a0506;
            font-weight: bold;
            font-size: 20px;

            .lng {
                position: absolute;
                top: 20px;
                right: 5px;
            }

            .lat {
                position: absolute;
                bottom: 5px;
                left: 5px;
            }

            .X {
                position: absolute;
                right: 5px;
                bottom: 40px;
            }

            .Y {
                position: absolute;
                bottom: -35px;
                left: 5px;
            }
        }

        .selected-element {
            position: absolute;
            width: 100px;
            height: 100px;
            top: 200px;
            left: 200px;

            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

</style>
