<template>
    <div :style="style" @mouseleave="hideCursor" @mousemove="moveCursor"></div>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator'
    import map_img from '../../assets/map/map.jpg'
    import {map_size} from '../../util'
    import Ratio from './Ratio'
    import Cursor from './Cursor'

    @Component({
        props: {'ratio': Ratio, 'cursor': Cursor},
    })
    export default class MapTile extends Vue {

        get map_img() {
            return map_img
        }

        get style() {
            return {
                position: 'absolute',
                top: this.ratio.top() + 'px',
                left: this.ratio.left() + 'px',
                width: this.ratio.width(map_size.w) + 'px',
                height: this.ratio.height(map_size.h) + 'px',
                backgroundImage: `url(${map_img})`,
                backgroundRepeat: 'no-repeat',
                backgroundSize: 'cover',
                cursor: this.cursor.show ? 'none' : 'default',
            }
        }

        hideCursor() {
            this.cursor.show = false
        }

        moveCursor({layerY, layerX}) {
            setTimeout(() => {
                const realX = layerX / this.ratio.zoom
                const realY = layerY / this.ratio.zoom

                this.cursor.moveTo(realX, realY)

                this.cursor.show = true
            }, 0)
        }
    }
</script>
